body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b5e20;
    color: white;
    padding: 15px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 10px;
}

footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px;
}
#patients-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#patients-button:hover {
    background-color: #3e8e41;
}
#appointments-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#appointments-button:hover {
    background-color: #3e8e41;
}

#human-resource {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#human-resource:hover {
    background-color: #3e8e41;}

#billing-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#billing-button:hover {
    background-color: #3e8e41;
}
#home-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#home-button:hover {
    background-color: #3e8e41;
}

#admin-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#admin-button:hover {
    background-color: #3e8e41;
}

#financial-management {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#financial-management:hover {
    background-color: #3e8e41;
}

#scm-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#scm-button:hover {
    background-color: #3e8e41;
}

section a {
    color: #4CAF50; /* Green color */
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

section a:hover {
    background-color: #f1f1f1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3e8e41;
    color: white;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

section {
    margin: 20px 0;
}
